.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.navBar {
  border-style: groove;
  align-items: center;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 18%,
    rgba(181, 223, 148, 1) 36%,
    rgba(181, 223, 148, 1) 67%,
    rgba(0, 212, 255, 1) 85%
  );
}

.Weather {
  border-style: groove;
  display: flex;
  justify-content: space-between;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 18%,
    rgba(181, 223, 148, 1) 36%,
    rgba(181, 223, 148, 1) 67%,
    rgba(0, 212, 255, 1) 85%
  );
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

}


.stockData {
  border-style: inset;
  display: flex;
  justify-content: left;
 
}

#WeatherFetch {
  display: flex;
  justify-content: left;
  border-style: inset;
  background: linear-gradient(-45deg, #00D4FF, #B5DE93, #23a6d5, #23d5ab);
  background-size: 400% 40%;
  animation: gradienttest 20s ease infinite;
}

@keyframes gradienttest {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.CardContainer{
  display: flex;
  justify-content: center;
}

body{
  background-color: #dbf5c5;
}